[system]
compatible={{ product_name }}
bootloader={{ bootloader }}
{{ extra_bootloader_options }}
 
[keyring]
path=/etc/rauc/ca.cert.pem

{{ bootloader_slot_conf }}

[slot.recoveryBoot.0]
device={{ recovery_boot_device }}
type=vfat
parent=recovery.0

[slot.recovery.0]
device={{ recovery_rootfs_device }}
type=raw
bootname=recovery

[slot.systemBoot.0]
device={{ system_boot_device }}
type=vfat
parent=system.0

[slot.system.0]
device={{ system_rootfs_device }}
type=ext4
bootname=system
