[submodule "environment"]
	path = environment
	url = https://github.com/JSydll/docker-yocto-env
	branch = kirkstone
[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "sources/meta-poky-extensions"]
	path = sources/meta-poky-extensions
	url = https://github.com/JSydll/meta-poky-extensions
	branch = kirkstone
[submodule "sources/openembedded"]
	path = sources/openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = kirkstone
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = kirkstone
[submodule "sources/boards/raspberrypi/meta-raspberrypi"]
	path = sources/boards/raspberrypi/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
	branch = kirkstone
[submodule "sources/meta-common-emx"]
	path = sources/meta-common-emx
	url = https://github.com/JSydll/meta-common-emx
	branch = kirkstone
