# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"

BBFILES ?= ""

BSP_LAYER_PATH = " \
  ##OEROOT##/../boards/${BSP_LAYER} \
"

BBLAYERS = " \
  ##OEROOT##/../poky/meta \
  ##OEROOT##/../poky/meta-poky \
  ##OEROOT##/../openembedded/meta-oe \
  ##OEROOT##/../openembedded/meta-multimedia \
  ##OEROOT##/../openembedded/meta-networking \
  ##OEROOT##/../openembedded/meta-python \
  ${BSP_LAYER_PATH} \
  ##OEROOT##/../meta-rauc \
  ##OEROOT##/../meta-multiboot-update-bsp \
  ##OEROOT##/../meta-multiboot-update \
"

