# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"

BBFILES ?= ""

BSP_LAYERS = " \
  ##OEROOT##/../boards/${BSP_LAYER} \
  ##OEROOT##/../boards/${BSP_EXTENSION_LAYER} \
"

BBLAYERS = " \
  ##OEROOT##/../poky/meta \
  ##OEROOT##/../poky/meta-poky \
  ##OEROOT##/../meta-poky-extensions \
  ##OEROOT##/../openembedded/meta-oe \
  ##OEROOT##/../openembedded/meta-multimedia \
  ##OEROOT##/../openembedded/meta-networking \
  ##OEROOT##/../openembedded/meta-python \
  ##OEROOT##/../meta-rauc \
  ${BSP_LAYERS} \
  ##OEROOT##/../meta-multiboot-update \
  ##OEROOT##/../meta-common-configs \
  ##OEROOT##/../meta-custom \
"

