# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

SOURCES = "${@ os.path.abspath(os.path.join("${TOPDIR}", os.pardir)) }/sources"

BBLAYERS = " \
  ${SOURCES}/poky/meta \
  ${SOURCES}/poky/meta-poky \
  ${SOURCES}/meta-poky-extensions \
  ${SOURCES}/openembedded/meta-oe \
  ${SOURCES}/openembedded/meta-multimedia \
  ${SOURCES}/openembedded/meta-networking \
  ${SOURCES}/openembedded/meta-python \
  ${@ d.getVar("BSP_LAYERS").replace(',', ' ') } \
  ${SOURCES}/meta-rauc \
  ${SOURCES}/meta-common-emx \
  ${SOURCES}/meta-multiboot-update \
  ${SOURCES}/meta-custom \
"
