#--------------------------------------
# General 
#--------------------------------------

DISTRO ?= 'poky'
PACKAGE_CLASSES ?= "package_ipk"
SDKMACHINE = "x86_64"

CONF_VERSION = "2"

# Generate tarballs from fetches from revision control
BB_GENERATE_MIRROR_TARBALLS = "1"

# -------------------------------------
# Device / distro infos
# -------------------------------------
PRODUCT_NAME = "updatable-pi"
PRODUCT_VERSION = "0.2.1"

hostname:pn-base-files = "${PRODUCT_NAME}"
DISTRO_NAME:pn-base-files = "emx-base"
DISTRO_VERSION:pn-base-files = "${PRODUCT_VERSION}"

#--------------------------------------
# Distro & image features 
#--------------------------------------

# Note: debug-tweaks are not enabled so a ROOT_PWD shall be set!
CORE_IMAGE_EXTRA_INSTALL = ""
DISTRO_FEATURES += "rauc"

# Make the image more lightweight by removing unneeded features
DISTRO_FEATURES:remove = "3g"
DISTRO_FEATURES:remove = "nfc"
DISTRO_FEATURES:remove = "nfs"
DISTRO_FEATURES:remove = "ext2"

#--------------------------------------
# Licensing
#--------------------------------------

ACCEPT_FSL_EULA = "1"
ACCEPT_TI_BT_LICENSE = "1"

#------------------
# MACHINE extension
#------------------

# Make sure, the necessary extensions for the machine are used
include conf/machine/${MACHINE}-extra.conf

#------------------
# Image definitions
#------------------
RECOVERY_IMAGE_NAME = "custom-recovery-image"
SYSTEM_IMAGE_NAME = "custom-system-image"

#--------------------------------------