#--------------------------------------
# General 
#--------------------------------------

DISTRO ?= 'poky'
PACKAGE_CLASSES ?= "package_ipk"
SDKMACHINE = "x86_64"

CONF_VERSION = "1"

# -------------------------------------
# Device / distro infos
# -------------------------------------
hostname_pn-base-files = "updatable-pi"
DISTRO_NAME_pn-base-files = "emx-base"
DISTRO_VERSION_pn-base-files = "0.1.0"

#--------------------------------------
# Distro & image features 
#--------------------------------------

EXTRA_IMAGE_FEATURES = "debug-tweaks ssh-server-openssh "
CORE_IMAGE_EXTRA_INSTALL = ""

# Make the image more lightweight by removing unneeded features
DISTRO_FEATURES_remove = "3g"
DISTRO_FEATURES_remove = "nfc"
DISTRO_FEATURES_remove = "nfs"
DISTRO_FEATURES_remove = "ext2"

#--------------------------------------
# Licensing
#--------------------------------------

ACCEPT_FSL_EULA = "1"
ACCEPT_TI_BT_LICENSE = "1"

#------------------
# MACHINE extension
#------------------

# Default values
STORAGE_TYPE ?= "mmc"
MMC_BLOCK_DEVICE ?= "mmcblk0"

# Make sure, the necessary extensions for the machine are used
include conf/machine/${MACHINE}-extra.conf

#------------------
# Image definitions
#------------------
RECOVERY_IMAGE_NAME = "custom-recovery-image"
SYSTEM_IMAGE_NAME = "custom-system-image"

#--------------------------------------