[Unit]
Description=Initiates the software update.
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/update-observer

[Install]
WantedBy=default.target